<!DOCTYPE html>
<html>
<head>
  <title>Twitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header>
    <ul>
     <li><%= link_to "Top Page", root_path %></li>
     <li><%= link_to "Tweets", tweets_path %></li>
     <li><%= link_to "Contact", new_contact_path %></li>
    </ul>
  </header>

<%= yield %>

  <footer>
    <p>w.k © 2017</p>
  </footer>

</body>
</html>
